<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eva.classsystem.mapper.CourseMapper">
  <resultMap id="BaseResultMap" type="com.eva.classsystem.pojo.Course">
    <constructor>
      <idArg column="Id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="invitationCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sirID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="createTime" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="courseID" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    Id, invitationCode, sirID, cname, createTime, courseID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eva.classsystem.pojo.Course">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into course (invitationCode, sirID, cname, 
      createTime, courseID)
    values (#{invitationcode,jdbcType=VARCHAR}, #{sirid,jdbcType=VARCHAR}, #{cname,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR}, #{courseid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eva.classsystem.pojo.Course">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="invitationcode != null">
        invitationCode,
      </if>
      <if test="sirid != null">
        sirID,
      </if>
      <if test="cname != null">
        cname,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="courseid != null">
        courseID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="invitationcode != null">
        #{invitationcode,jdbcType=VARCHAR},
      </if>
      <if test="sirid != null">
        #{sirid,jdbcType=VARCHAR},
      </if>
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="courseid != null">
        #{courseid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eva.classsystem.pojo.Course">
    update course
    <set>
      <if test="invitationcode != null">
        invitationCode = #{invitationcode,jdbcType=VARCHAR},
      </if>
      <if test="sirid != null">
        sirID = #{sirid,jdbcType=VARCHAR},
      </if>
      <if test="cname != null">
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="courseid != null">
        courseID = #{courseid,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eva.classsystem.pojo.Course">
    update course
    set invitationCode = #{invitationcode,jdbcType=VARCHAR},
      sirID = #{sirid,jdbcType=VARCHAR},
      cname = #{cname,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=VARCHAR},
      courseID = #{courseid,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>