<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eva.classsystem.mapper.NoticeMapper">
  <resultMap id="BaseResultMap" type="com.eva.classsystem.pojo.Notice">
    <constructor>
      <idArg column="noticeID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sirID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="createTime" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="courseID" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    noticeID, sirID, createTime, title, content, courseID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from notice
    where noticeID = #{noticeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from notice
    where noticeID = #{noticeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eva.classsystem.pojo.Notice">
    insert into notice (noticeID, sirID, createTime, 
      title, content, courseID
      )
    values (#{noticeid,jdbcType=INTEGER}, #{sirid,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{courseid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.eva.classsystem.pojo.Notice">
    insert into notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="noticeid != null">
        noticeID,
      </if>
      <if test="sirid != null">
        sirID,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="courseid != null">
        courseID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="noticeid != null">
        #{noticeid,jdbcType=INTEGER},
      </if>
      <if test="sirid != null">
        #{sirid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="courseid != null">
        #{courseid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eva.classsystem.pojo.Notice">
    update notice
    <set>
      <if test="sirid != null">
        sirID = #{sirid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="courseid != null">
        courseID = #{courseid,jdbcType=VARCHAR},
      </if>
    </set>
    where noticeID = #{noticeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eva.classsystem.pojo.Notice">
    update notice
    set sirID = #{sirid,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      courseID = #{courseid,jdbcType=VARCHAR}
    where noticeID = #{noticeid,jdbcType=INTEGER}
  </update>
</mapper>