<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eva.classsystem.mapper.NoticeCustomMapper">
    <resultMap id="BaseResultMap" type="com.eva.classsystem.pojo.Notice">
        <constructor>
            <idArg column="noticeID" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="sirID" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="createTime" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="courseID" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>


    <sql id="Base_Column_List">
    noticeID, sirID, createTime, title, content, courseID
  </sql>
    <select id="selectBySir" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from notice
        where sirID = #{sirID,jdbcType=VARCHAR} AND courseID = #{courseID,jdbcType=VARCHAR}
        order by createTime desc
    </select>

    <select id="selectByStu" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from notice
        where courseID = #{courseID,jdbcType=VARCHAR}
        order by createTime desc
    </select>



</mapper>